<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni0021</key>
    <string>uni0021.glif</string>
    <key>uni0023</key>
    <string>uni0023.glif</string>
    <key>uni0024</key>
    <string>uni0024.glif</string>
    <key>uni0025</key>
    <string>uni0025.glif</string>
    <key>uni0026</key>
    <string>uni0026.glif</string>
    <key>uni0027</key>
    <string>uni0027.glif</string>
    <key>uni0028</key>
    <string>uni0028.glif</string>
    <key>uni0029</key>
    <string>uni0029.glif</string>
  </dict>
</plist>
